body {
    text-align:center;
    background-color: #D5e1ef;
    font-family: 'Outfit';
}

.main {
width: 320px;
height: 499px; 
border-radius: 20px;
padding: 16px 16px 20px 16px;
background-color: white;
box-shadow: 0px 0px 30px rgb(198, 200, 201);
position: absolute;
left: 50%;
top: 50%
transform: translate(-50%, -50%)
}

img {
max-width: 100%;
max-height: 100%;
border-radius: 10px;

}

.text {
    width: 288px;
    height: 131px;
    margin: auto; 
}

.heading {
    font-size: 22px;
    color: #1F314F;
    font-weight: 700;
    letter-spacing: 0px;
    line-height: 120%;
    
    
}

.sub {
    font-size: 15px;
    color: #68778D;
    font-weight: 400;
    letter-spacing: 0.2px;
    line-height: 140%;
    padding: 0px 20px 20px 20px;

}

.attribution {
    position: absolute;
    bottom: 0px;
    padding: 10px;
}

